* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s linear 0s;
}

body.black {
  background-color: #333;

  hr {
    background-color: #fff;
    color: #fff;
  }

  table td {
    background-color: #333;
    color: #fff;
  }
}

h3 {
  color: darkgray;
}

form {
  & {
    height: fit-content;
  }
  label {
    font-size: 18px;
    font-weight: 600;
  }
}

table {
  th:first-of-type {
    border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    -ms-border-radius: 10px 0 0 0;
    -o-border-radius: 10px 0 0 0;
  }

  th:last-of-type {
    border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -ms-border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
  }

  tbody td {
    padding: 10px 20px !important;
    font-weight: 500;
    font-size: 17px;
  }
}
